In [22]:
import unicodedata
import pandas as pd
import numpy as np
import os

In [23]:

directorio = "./data_departments"
if not os.path.exists(directorio): os.makedirs(directorio)
dataframes = []

# Recorre todos los archivos en el directorio
for filename in os.listdir(directorio):
	if filename.endswith(".csv"):
		filepath = os.path.join(directorio, filename)
		# Lee cada archivo CSV omitiendo la primera fila
		df = pd.read_csv(filepath, skiprows=1, encoding="utf-8")
		# Elimina columnas "Unnamed"
		df = df.loc[:, ~df.columns.str.contains('^Unnamed')]
		# Agrega el dataframe a la lista
		dataframes.append(df)

# Concatena todos los dataframes en uno solo
if len(dataframes) > 0:
	combined_df = pd.concat(dataframes, ignore_index=True)

# Guarda el dataframe combinado en un nuevo archivo CSV
	combined_df.to_csv('dataset.csv', index=False, encoding="utf-8")

	print("¡Archivos CSV combinados y limpios exitosamente!")

¡Archivos CSV combinados y limpios exitosamente!

In [24]:
df = pd.read_csv("dataset.csv", encoding="utf-8")
df.head(5)

,CODIGO,DISTRITO,DEPARTAMENTO,MUNICIPIO,ESTABLECIMIENTO,DIRECCION,TELEFONO,SUPERVISOR,DIRECTOR,NIVEL,SECTOR,AREA,STATUS,MODALIDAD,JORNADA,PLAN,DEPARTAMENTAL
0,21-01-0101-46,21-002,JALAPA,JALAPA,INSTITUTO NORMAL CENTROAMERICANO PARA SEяRITAS...,"AVENIDA CHIPILAPA 1-65, ZONA 2",79224268,JORGE ADELINO PEREZ UCELO,IRIS JANNETTE AGUIRRE CONTRERAS,DIVERSIFICADO,OFICIAL,URBANA,ABIERTA,MONOLINGUE,VESPERTINA,DIARIO(REGULAR),JALAPA
1,21-01-0104-46,21-002,JALAPA,JALAPA,INSTITUTO NORMAL CENTROAMERICANO PARA VARONES,"CALLE TRANSITO ROJAS, 4-82, ZONA 2, BARRIO SAN...",40645842,JORGE ADELINO PEREZ UCELO,LISI KARINA ESCOBAR ESPINOZA,DIVERSIFICADO,OFICIAL,URBANA,ABIERTA,MONOLINGUE,MATUTINA,DIARIO(REGULAR),JALAPA
2,21-01-0106-46,21-004,JALAPA,JALAPA,COLEGIO PARTICULAR MIXTO LICEO JALAPA,CALLE TRANSITO ROJAS 7-60 ZONA 1,79220013,VICTOR MANUEL PORTILLO RECINOS,EFRA͎ DE JESړ SALAZAR PERALTA,DIVERSIFICADO,PRIVADO,URBANA,ABIERTA,MONOLINGUE,NOCTURNA,DIARIO(REGULAR),JALAPA
3,21-01-0107-46,21-004,JALAPA,JALAPA,INSTITUTO PARTICULAR MIXTO MODERNO JALAPANECO,3A. CALLE 0-39 ZONA 2 BARRIO LA ESPERANZA,51228253,VICTOR MANUEL PORTILLO RECINOS,GERMAN DE JESUS RAMOS VALLE,DIVERSIFICADO,PRIVADO,URBANA,TEMPORAL TITULOS,MONOLINGUE,VESPERTINA,DIARIO(REGULAR),JALAPA
4,21-01-0108-46,21-004,JALAPA,JALAPA,INSTITUTO PRIVADO DE EDUCACION DIVERSIFICADA E...,"4A. AVENIDA 2-66, ZONA 2 BARRIO SAN FRANCISCO",79224958-79223033,VICTOR MANUEL PORTILLO RECINOS,ROSA CORALIA PINEDA GALLARDO,DIVERSIFICADO,PRIVADO,URBANA,ABIERTA,MONOLINGUE,VESPERTINA,DIARIO(REGULAR),JALAPA

In [25]:
deptos = df['DEPARTAMENTO']
deptos = list(dict.fromkeys(deptos))
print(f"{len(deptos)} : {deptos}")

24 : ['JALAPA', nan, 'SOLOLA', 'CHIMALTENANGO', 'EL PROGRESO', 'JUTIAPA', 'SANTA ROSA', 'SAN MARCOS', 'QUETZALTENANGO', 'ZACAPA', 'PETEN', 'HUEHUETENANGO', 'SUCHITEPEQUEZ', 'BAJA VERAPAZ', 'QUICHE', 'RETALHULEU', 'TOTONICAPAN', 'IZABAL', 'CIUDAD CAPITAL', 'ESCUINTLA', 'SACATEPEQUEZ', 'CHIQUIMULA', 'GUATEMALA', 'ALTA VERAPAZ']

In [26]:
if len(dataframes) > 0:
	# Inicializa un diccionario para almacenar el conteo de filas de cada archivo
	file_row_counts = {}

	# Recorre todos los archivos en el directorio
	for filename in os.listdir(directorio):
		if filename.endswith(".csv"):
			filepath = os.path.join(directorio, filename)
			# Lee cada archivo CSV omitiendo la primera fila
			df = pd.read_csv(filepath, skiprows=1, encoding="utf-8")
			# Elimina columnas "Unnamed"
			df = df.loc[:, ~df.columns.str.contains('^Unnamed')]
			# Cuenta el número de filas y almacena el resultado en el diccionario
			file_row_counts[filename] = df.shape[0]

	# Imprime el conteo de filas de cada archivo
	for filename, row_count in file_row_counts.items():
		print(f"El archivo '{filename}' tiene {row_count} filas (excluyendo encabezados).")

	print("¡Conteo de filas completado exitosamente!")

El archivo 'Jalapa.csv' tiene 154 filas (excluyendo encabezados).
El archivo 'Solola.csv' tiene 141 filas (excluyendo encabezados).
El archivo 'Chimaltenango.csv' tiene 362 filas (excluyendo encabezados).
El archivo 'ElProgreso.csv' tiene 128 filas (excluyendo encabezados).
El archivo 'Jutiapa.csv' tiene 313 filas (excluyendo encabezados).
El archivo 'Santa Rosa.csv' tiene 161 filas (excluyendo encabezados).
El archivo 'San Marcos.csv' tiene 577 filas (excluyendo encabezados).
El archivo 'Quetzaltenango.csv' tiene 494 filas (excluyendo encabezados).
El archivo 'Zacapa.csv' tiene 97 filas (excluyendo encabezados).
El archivo 'Peten.csv' tiene 369 filas (excluyendo encabezados).
El archivo 'Huehuetenango.csv' tiene 519 filas (excluyendo encabezados).
El archivo 'Suchitepequez.csv' tiene 388 filas (excluyendo encabezados).
El archivo 'BajaVerapaz.csv' tiene 117 filas (excluyendo encabezados).
El archivo 'Quiche.csv' tiene 247 filas (excluyendo encabezados).
El archivo 'Retalhuleu.csv' tiene 319 filas (excluyendo encabezados).
El archivo 'Totonicapan.csv' tiene 93 filas (excluyendo encabezados).
El archivo 'Izabal.csv' tiene 371 filas (excluyendo encabezados).
El archivo 'CiudadCapital.csv' tiene 1567 filas (excluyendo encabezados).
El archivo 'Escuintla.csv' tiene 631 filas (excluyendo encabezados).
El archivo 'Sacatepequez.csv' tiene 322 filas (excluyendo encabezados).
El archivo 'Chiquimula.csv' tiene 173 filas (excluyendo encabezados).
El archivo 'Guatemala.csv' tiene 1480 filas (excluyendo encabezados).
El archivo 'AltaVerapaz.csv' tiene 377 filas (excluyendo encabezados).
¡Conteo de filas completado exitosamente!

In [27]:
data = df

# Listar las variables (columnas)
print("\nVariables en el conjunto de datos:")
print(data.columns.tolist())

Variables en el conjunto de datos:
['CODIGO', 'DISTRITO', 'DEPARTAMENTO', 'MUNICIPIO', 'ESTABLECIMIENTO', 'DIRECCION', 'TELEFONO', 'SUPERVISOR', 'DIRECTOR', 'NIVEL', 'SECTOR', 'AREA', 'STATUS', 'MODALIDAD', 'JORNADA', 'PLAN', 'DEPARTAMENTAL']

In [28]:
file_path = './dataset.csv'
data = pd.read_csv(file_path, encoding="utf-8")

# Listar las variables (columnas)
variables = data.columns.tolist()

# Identificar las variables con mayor cantidad de valores nulos
null_counts = data.isnull().sum().sort_values(ascending=False)

# Seleccionar las variables con más de un cierto umbral de valores nulos (por ejemplo, más del 10% de valores nulos)
threshold = 0.1
variables_con_muchos_nulos = null_counts[null_counts > threshold * len(data)].index.tolist()
object_columns = data.select_dtypes(include=['object']).columns.tolist()

# Filtrar las variables de tipo object con muchos nulos
object_columns_con_muchos_nulos = [col for col in object_columns if col in variables_con_muchos_nulos]
variables_necesitan_limpieza = list(set(variables_con_muchos_nulos + object_columns))

print("\nVariables en el conjunto de datos:")
print(variables)

print("\nCantidad de valores nulos por columna:")
print(null_counts)

print("\nVariables con más del 10% de valores nulos:")
print(variables_con_muchos_nulos)
print("\nVariables de tipo object que podrían necesitar limpieza:")
print(object_columns)

print("\nVariables de tipo object con muchos nulos:")
print(object_columns_con_muchos_nulos)
print("\nVariables que más operaciones de limpieza necesitarán:")
print(variables_necesitan_limpieza)

Variables en el conjunto de datos:
['CODIGO', 'DISTRITO', 'DEPARTAMENTO', 'MUNICIPIO', 'ESTABLECIMIENTO', 'DIRECCION', 'TELEFONO', 'SUPERVISOR', 'DIRECTOR', 'NIVEL', 'SECTOR', 'AREA', 'STATUS', 'MODALIDAD', 'JORNADA', 'PLAN', 'DEPARTAMENTAL']

Cantidad de valores nulos por columna:
DIRECTOR           966
TELEFONO           608
SUPERVISOR         278
DISTRITO           277
DIRECCION          120
AREA                69
PLAN                69
JORNADA             69
MODALIDAD           69
STATUS              69
DEPARTAMENTAL       69
SECTOR              69
NIVEL               69
ESTABLECIMIENTO     69
MUNICIPIO           69
DEPARTAMENTO        69
CODIGO              23
dtype: int64

Variables con más del 10% de valores nulos:
['DIRECTOR']

Variables de tipo object que podrían necesitar limpieza:
['CODIGO', 'DISTRITO', 'DEPARTAMENTO', 'MUNICIPIO', 'ESTABLECIMIENTO', 'DIRECCION', 'TELEFONO', 'SUPERVISOR', 'DIRECTOR', 'NIVEL', 'SECTOR', 'AREA', 'STATUS', 'MODALIDAD', 'JORNADA', 'PLAN', 'DEPARTAMENTAL']

Variables de tipo object con muchos nulos:
['DIRECTOR']

Variables que más operaciones de limpieza necesitarán:
['SECTOR', 'CODIGO', 'SUPERVISOR', 'MODALIDAD', 'MUNICIPIO', 'DIRECTOR', 'DIRECCION', 'STATUS', 'DEPARTAMENTO', 'AREA', 'TELEFONO', 'JORNADA', 'DEPARTAMENTAL', 'NIVEL', 'DISTRITO', 'ESTABLECIMIENTO', 'PLAN']

Limpiar variables determinadas

In [29]:
import pandas as pd
# Suponiendo que el DataFrame original se llama df
data = df.copy()

# Convertir a mayúsculas
columns_to_upper = ['ESTABLECIMIENTO', 'DIRECCION', 'SUPERVISOR', 'DIRECTOR', 'DISTRITO', 'CODIGO', 'DEPARTAMENTO', 'MUNICIPIO']
for column in columns_to_upper:
    data[column] = data[column].str.upper()

# Eliminar duplicados
data = data.drop_duplicates()

# Reemplazar 'AV ' con 'AVENIDA '
data['DIRECCION'] = data['DIRECCION'].str.replace('AV ', 'AVENIDA ')

# Quitar espacios en blanco
columns_to_strip = ['DIRECCION', 'SUPERVISOR', 'DIRECTOR', 'ESTABLECIMIENTO', 'DISTRITO', 'CODIGO', 'DEPARTAMENTO', 'MUNICIPIO']
for column in columns_to_strip:
    data[column] = data[column].str.strip()

# Manejar la columna de TELEFONO
data['TELEFONO'] = data['TELEFONO'].astype(str).str.split(';')

# Si hay más de un número de teléfono, se crea una nueva columna para almacenar el segundo número.
data['TELEFONO_2'] = data['TELEFONO'].apply(lambda x: x[1] if len(x) > 1 else np.nan)

# Limpiar los números de teléfono
data['TELEFONO'] = data['TELEFONO'].apply(lambda x: x[0] if len(x) > 0 else np.nan)
data['TELEFONO'] = data['TELEFONO'].str.replace(r'\D', '', regex=True)
data['TELEFONO'] = data['TELEFONO'].apply(lambda x: x if len(x) == 8 else np.nan)

# Verificar y limpiar el formato de CODIGO
data['CODIGO'] = data['CODIGO'].apply(lambda x: x if pd.isna(x) or len(x.split('-')) == 4 else np.nan)

# Guardar el conjunto de datos limpio
cleaned_file_path = 'dataset_limpio.csv'
data.to_csv(cleaned_file_path, index=False, encoding="utf-8")

# Mostrar las primeras filas del conjunto de datos limpio
print("Primeras filas del conjunto de datos limpio:")
print(data.head())
print("¡Conjunto de datos limpiado y guardado exitosamente!")

Primeras filas del conjunto de datos limpio:
          CODIGO DISTRITO  DEPARTAMENTO MUNICIPIO  \
0  16-01-0138-46   16-031  ALTA VERAPAZ     COBAN
1  16-01-0139-46   16-031  ALTA VERAPAZ     COBAN
2  16-01-0140-46   16-031  ALTA VERAPAZ     COBAN
3  16-01-0141-46   16-005  ALTA VERAPAZ     COBAN
4  16-01-0142-46   16-005  ALTA VERAPAZ     COBAN

                                     ESTABLECIMIENTO  \
0                                      COLEGIO COBAN
1                   COLEGIO PARTICULAR MIXTO VERAPAZ
2                            COLEGIO "LA INMACULADA"
3           ESCUELA NACIONAL DE CIENCIAS COMERCIALES
4  INSTITUTO NORMAL MIXTO DEL NORTE 'EMILIO ROSAL...

                                DIRECCION  TELEFONO  \
0  KM.2 SALIDA A SAN JUAN CHAMELCO ZONA 8  77945104
1            KM 209.5 ENTRADA A LA CIUDAD  77367402
2               7A. AVENIDA 11-109 ZONA 6  78232301
3                   2A CALLE 11-10 ZONA 2  79514215
4                     3A AVE 6-23 ZONA 11  79521468

                        SUPERVISOR                        DIRECTOR  \
0  MERCEDES JOSEFINA TORRES GALVEZ       GUSTAVO ADOLFO SIERRA POP
1  MERCEDES JOSEFINA TORRES GALVEZ  GILMA DOLORES GUAY PAZ DE LEAL
2  MERCEDES JOSEFINA TORRES GALVEZ         VIRGINIA SOLANO SERRANO
3              RUDY ADOLFO TOT OCH         HɃTOR ROLANDO CHUN POOU
4              RUDY ADOLFO TOT OCH      VICTOR HUGO DOM͎GUEZ REYES

           NIVEL   SECTOR    AREA   STATUS   MODALIDAD     JORNADA  \
0  DIVERSIFICADO  PRIVADO  URBANA  ABIERTA  MONOLINGUE    MATUTINA
1  DIVERSIFICADO  PRIVADO  URBANA  ABIERTA  MONOLINGUE    MATUTINA
2  DIVERSIFICADO  PRIVADO  URBANA  ABIERTA  MONOLINGUE    MATUTINA
3  DIVERSIFICADO  OFICIAL  URBANA  ABIERTA  MONOLINGUE    MATUTINA
4  DIVERSIFICADO  OFICIAL  URBANA  ABIERTA    BILINGUE  VESPERTINA

              PLAN DEPARTAMENTAL  TELEFONO_2
0  DIARIO(REGULAR)  ALTA VERAPAZ         NaN
1  DIARIO(REGULAR)  ALTA VERAPAZ         NaN
2  DIARIO(REGULAR)  ALTA VERAPAZ         NaN
3  DIARIO(REGULAR)  ALTA VERAPAZ         NaN
4  DIARIO(REGULAR)  ALTA VERAPAZ         NaN
¡Conjunto de datos limpiado y guardado exitosamente!

In [30]:
# Suponiendo que el DataFrame original se llama df
data = df.copy()

# Convertir a mayúsculas
columns_to_upper = ['ESTABLECIMIENTO', 'DIRECCION', 'SUPERVISOR', 'DIRECTOR', 'DISTRITO', 'CODIGO', 'DEPARTAMENTO', 'MUNICIPIO']
for column in columns_to_upper:
    data[column] = data[column].str.upper()

# Eliminar duplicados
data = data.drop_duplicates()

# Reemplazar 'AV ' con 'AVENIDA '
data['DIRECCION'] = data['DIRECCION'].str.replace('AV ', 'AVENIDA ')

# Quitar espacios en blanco
columns_to_strip = ['DIRECCION', 'SUPERVISOR', 'DIRECTOR', 'ESTABLECIMIENTO', 'DISTRITO', 'CODIGO', 'DEPARTAMENTO', 'MUNICIPIO']
for column in columns_to_strip:
    data[column] = data[column].str.strip()

# Manejar la columna de TELEFONO
data['TELEFONO'] = data['TELEFONO'].astype(str).str.split(';')

# Si hay más de un número de teléfono, se crea una nueva columna para almacenar el segundo número.
data['TELEFONO_2'] = data['TELEFONO'].apply(lambda x: x[1] if len(x) > 1 else np.nan)

# Limpiar los números de teléfono
data['TELEFONO'] = data['TELEFONO'].apply(lambda x: x[0] if len(x) > 0 else np.nan)
data['TELEFONO'] = data['TELEFONO'].str.replace(r'\D', '', regex=True)
data['TELEFONO'] = data['TELEFONO'].apply(lambda x: x if len(x) == 8 else np.nan)

# Verificar y limpiar el formato de CODIGO
data['CODIGO'] = data['CODIGO'].apply(lambda x: x if pd.isna(x) or len(x.split('-')) == 4 else np.nan)

# Guardar el conjunto de datos limpio
cleaned_file_path = 'dataset_limpio.csv'
data.to_csv(cleaned_file_path, index=False, encoding="utf-8")

# Mostrar las primeras filas del conjunto de datos limpio
print("Primeras filas del conjunto de datos limpio:")
print(data.head())
print("¡Conjunto de datos limpiado y guardado exitosamente!")

Primeras filas del conjunto de datos limpio:
          CODIGO DISTRITO  DEPARTAMENTO MUNICIPIO  \
0  16-01-0138-46   16-031  ALTA VERAPAZ     COBAN
1  16-01-0139-46   16-031  ALTA VERAPAZ     COBAN
2  16-01-0140-46   16-031  ALTA VERAPAZ     COBAN
3  16-01-0141-46   16-005  ALTA VERAPAZ     COBAN
4  16-01-0142-46   16-005  ALTA VERAPAZ     COBAN

                                     ESTABLECIMIENTO  \
0                                      COLEGIO COBAN
1                   COLEGIO PARTICULAR MIXTO VERAPAZ
2                            COLEGIO "LA INMACULADA"
3           ESCUELA NACIONAL DE CIENCIAS COMERCIALES
4  INSTITUTO NORMAL MIXTO DEL NORTE 'EMILIO ROSAL...

                                DIRECCION  TELEFONO  \
0  KM.2 SALIDA A SAN JUAN CHAMELCO ZONA 8  77945104
1            KM 209.5 ENTRADA A LA CIUDAD  77367402
2               7A. AVENIDA 11-109 ZONA 6  78232301
3                   2A CALLE 11-10 ZONA 2  79514215
4                     3A AVE 6-23 ZONA 11  79521468

                        SUPERVISOR                        DIRECTOR  \
0  MERCEDES JOSEFINA TORRES GALVEZ       GUSTAVO ADOLFO SIERRA POP
1  MERCEDES JOSEFINA TORRES GALVEZ  GILMA DOLORES GUAY PAZ DE LEAL
2  MERCEDES JOSEFINA TORRES GALVEZ         VIRGINIA SOLANO SERRANO
3              RUDY ADOLFO TOT OCH         HɃTOR ROLANDO CHUN POOU
4              RUDY ADOLFO TOT OCH      VICTOR HUGO DOM͎GUEZ REYES

           NIVEL   SECTOR    AREA   STATUS   MODALIDAD     JORNADA  \
0  DIVERSIFICADO  PRIVADO  URBANA  ABIERTA  MONOLINGUE    MATUTINA
1  DIVERSIFICADO  PRIVADO  URBANA  ABIERTA  MONOLINGUE    MATUTINA
2  DIVERSIFICADO  PRIVADO  URBANA  ABIERTA  MONOLINGUE    MATUTINA
3  DIVERSIFICADO  OFICIAL  URBANA  ABIERTA  MONOLINGUE    MATUTINA
4  DIVERSIFICADO  OFICIAL  URBANA  ABIERTA    BILINGUE  VESPERTINA

              PLAN DEPARTAMENTAL  TELEFONO_2
0  DIARIO(REGULAR)  ALTA VERAPAZ         NaN
1  DIARIO(REGULAR)  ALTA VERAPAZ         NaN
2  DIARIO(REGULAR)  ALTA VERAPAZ         NaN
3  DIARIO(REGULAR)  ALTA VERAPAZ         NaN
4  DIARIO(REGULAR)  ALTA VERAPAZ         NaN
¡Conjunto de datos limpiado y guardado exitosamente!

In [31]:
# Cargar el dataset
data = pd.read_csv('dataset_limpio_corregido.csv', encoding='utf-8')

# Obtener y imprimir todos los valores únicos de la columna 'DEPARTAMENTO'
departamentos = data['DEPARTAMENTO'].unique()

print("Valores únicos en la columna 'DEPARTAMENTO':")
for departamento in departamentos:
	print(departamento)

Valores únicos en la columna 'DEPARTAMENTO':
JALAPA
DESCONOCIDO
SOLOLA
CHIMALTENANGO
EL PROGRESO
JUTIAPA
SANTA ROSA
SAN MARCOS
QUETZALTENANGO
ZACAPA
PETEN
HUEHUETENANGO
SUCHITEPEQUEZ
BAJA VERAPAZ
QUICHE
RETALHULEU
TOTONICAPAN
IZABAL
CIUDAD CAPITAL
ESCUINTLA
SACATEPEQUEZ
CHIQUIMULA
GUATEMALA
ALTA VERAPAZ

In [32]:
# Reemplazar errores comunes
data['ESTABLECIMIENTO'] = data['ESTABLECIMIENTO'].str.replace('colegioo', 'colegio')
data['ESTABLECIMIENTO'] = data['ESTABLECIMIENTO'].str.replace('escula', 'escuela')

# Caracteres especiales
data['ESTABLECIMIENTO'] = data['ESTABLECIMIENTO'].str.replace('[^A-Za-z0-9 ]+', '')

# Reemplazar múltiples espacios por un solo espacio
data['ESTABLECIMIENTO'] = data['ESTABLECIMIENTO'].str.replace(r'\s+', ' ', regex=True)

def limpiar_cadena(cadena):
	# Remover comillas y guiones
	caracteres_a_remover = ["'", '"', '-']
	for caracter in caracteres_a_remover:
		cadena = cadena.replace(caracter, '')

	# Normalizar texto y eliminar acentos
	cadena_sin_tildes = unicodedata.normalize('NFKD', cadena)
	cadena_sin_tildes = cadena_sin_tildes.encode('ASCII', 'ignore').decode('ASCII')

	# Quitar comillas de inicio y fin si están presentes
	if len(cadena_sin_tildes) > 1 and cadena_sin_tildes[0] == cadena_sin_tildes[-1] == '"':
		cadena_sin_tildes = cadena_sin_tildes[1:-1]

	return cadena_sin_tildes

# Aplicar la función a la columna 'ESTABLECIMIENTO'
data['ESTABLECIMIENTO'] = data['ESTABLECIMIENTO'].apply(limpiar_cadena)

# Verificar los cambios
data[['ESTABLECIMIENTO']].head(50)

                                      ESTABLECIMIENTO
0   INSTITUTO NORMAL CENTROAMERICANO PARA SERITAS ...
1       INSTITUTO NORMAL CENTROAMERICANO PARA VARONES
2               COLEGIO PARTICULAR MIXTO LICEO JALAPA
3       INSTITUTO PARTICULAR MIXTO MODERNO JALAPANECO
4   INSTITUTO PRIVADO DE EDUCACION DIVERSIFICADA E...
5        COLEGIO PARTICULAR MIXTO LICEO NUEVO MILENIO
6       INSTITUTO NACIONAL DE EDUCACION DIVERSIFICADA
7   COLEGIO PARTICULAR MIXTO POR MADUREZ OSCAR DE ...
8                             COLEGIO SAGRADO CORAZON
9   COLEGIO PRIVADO MIXTO DE EDUCACION BASICA EDUCARE
10  INSTITUTO TNICO PROFESIONAL MIGUEL ANGEL ASTURIAS
11              COLEGIO PARTICULAR MIXTO LICEO JALAPA
12      INSTITUTO PARTICULAR MIXTO MODERNO JALAPANECO
13                            COLEGIO SAGRADO CORAZON
14  CENTRO DE ESTUDIOS DE INGENIERIA Y ARQUITECTUR...
15           INSTITUTO PARTICULAR MIXTO LICEO GENESIS
16  CENTRO DE ESTUDIOS DE INGENIERIA Y ARQUITECTUR...
17       COLEGIO PARTICULAR MIXTO LICEO NUEVO MILENIO
18     COLEGIO PRIVADO MIXTO DE EDUCACI BSICA EDUCARE
19             INSTITUTO PRIVADO LICEO INTERAMERICANO
20              COLEGIO PARTICULAR MIXTO LICEO JALAPA
21  INSTITUTO PARTICULAR MIXTO DE BACHILLERATO POR...
22       COLEGIO PARTICULAR MIXTO LICEO NUEVO MILENIO
23  COLEGIO PARTICULAR MIXTO DE EDUCACI BSICA EDUCARE
24         INSTITUTO TNICO INDUSTRIAL ALBERT EINSTEIN
25                         COLEGIO PRIVADO MONTE ALTO
26                 COLEGIO NUESTRA SERA DE LOS NGELES
27              COLEGIO PARTICULAR MIXTO LICEO JALAPA
28    INSTITUTO GUATEMALTECO DE AVIACI Y TURISMO IGAT
29                         COLEGIO PRIVADO MONTE ALTO
30      COLEGIO PARTICULAR MIXTO OSCAR DE LE PALACIOS
31      COLEGIO PARTICULAR MIXTO OSCAR DE LE PALACIOS
32        COLEGIO PARTICULAR PARA SERITAS MADRE NGELA
33                       COLEGIO JARD INFANTIL AGAZZI
34                           COLEGIO ADVENTISTA MORIA
35             INSTITUTO PRIVADO LICEO INTERAMERICANO
36             COLEGIO PREUNIVERSITARIO JUAN PABLO II
37  COLEGIO PARTICULAR MIXTO ROBERTO ANTONIO BONIL...
38                     COLEGIO MIXTO BILING DISCOVERY
39    PROGRAMA NACIONAL DE EDUCACI ALTERNATIVA PRONEA
40        INSTITUTO NACIONAL DE EDUCACI DIVERSIFICADA
41              COLEGIO PARTICULAR MIXTO LICEO JALAPA
42  INSTITUTO TNICO PROFESIONAL MIGUEL ANGEL ASTURIAS
43             INSTITUTO PARTICULAR MIXTO LICEO GESIS
44             INSTITUTO PRIVADO LICEO INTERAMERICANO
45                              COLEGIO SAGRADO CORAZ
46      COLEGIO PARTICULAR MIXTO OSCAR DE LE PALACIOS
47                         COLEGIO PRIVADO MONTE ALTO
48             COLEGIO PREUNIVERSITARIO JUAN PABLO II
49  INSTITUTO PARTICULAR MIXTO DE BACHILLERATO POR...

In [33]:
data['DIRECCION'] = data['DIRECCION'].str.replace('[^A-Za-z0-9 ]+', '')  # Eliminar caracteres especiales

# Reemplazar múltiples espacios por un solo espacio
data['DIRECCION'] = data['DIRECCION'].str.replace(r'\s+', ' ', regex=True)

# Función para eliminar comillas y tildes
def limpiar_texto_direccion(texto):
	# Eliminar comillas simples y dobles
	texto = texto.replace("'", "").replace('"', "")
	
	# Sustituir letras con tilde por letras sin tilde
	texto = unicodedata.normalize('NFKD', texto).encode('ASCII', 'ignore').decode('ASCII')

	# Eliminar comillas alrededor del texto
	if texto.startswith('"') and texto.endswith('"'):
		texto = texto[1:-1]
	
	return texto

# Aplicar la función a la columna 'ESTABLECIMIENTO'
data['DIRECCION'] = data['DIRECCION'].apply(limpiar_texto_direccion)

# Verificar los cambios
data[['DIRECCION']].head(50)

                                            DIRECCION
0                      AVENIDA CHIPILAPA 1-65, ZONA 2
1   CALLE TRANSITO ROJAS, 4-82, ZONA 2, BARRIO SAN...
2                    CALLE TRANSITO ROJAS 7-60 ZONA 1
3           3A. CALLE 0-39 ZONA 2 BARRIO LA ESPERANZA
4       4A. AVENIDA 2-66, ZONA 2 BARRIO SAN FRANCISCO
5   1RA. CALLE A ZONA 3, RESIDENCIALES NUEVA JERUS...
6                 CASER LA LAGUNETA, ALDEA EL DURAZNO
7                    CALLE TRANSITO ROJAS 8-54 ZONA 2
8         3RA. CALLE 2-47 ZONA 2 BARRIO SAN FRANCISCO
9           6A. AV. 0-67 ZONA 5, BARRIO SAN FRANCISCO
10        1A. CALLE 6-61 ZONA 1, BARRIO LA DEMOCRACIA
11  CALLE TRNSITO ROJAS 7-79, ZONA 1 BARRIO LA DEM...
12                               BARRIO LA DEMOCRACIA
13       3RA. CALLE 2-47 ZONA 2, BARRIO SAN FRANCISCO
14  6TA. CALLE E 0-49 COLONIA BONILLA ZONA 1, BARR...
15  CALLE TRANSITO ROJAS 0-36 ZONA 6, BARRIO CHIPI...
16  6TA. CALLE E 0-49 COLONIA BONILLA ZON 1, BARRI...
17  1A. CALLE A ZONA 3, RESIDENCIALES NUEVA JERUSA...
18        5 AVENIDA 1-79 ZONA 1, BARRIO LA DEMOCRACIA
19         1RA. AVENIDA 0-45 ZONA 6, BARRIO CHIPILAPA
20  CALLE TRNSITO ROJAS 7-79 ZONA 1 BARRIO LA DEMO...
21                             1A. CALLE 2-06- ZONA 1
22   1A. CALLE A ZONA 3 RESIDENCIALES NUEVA JERUSALEN
23           6A. AV. 0-67 ZONA 5 BARRIO SAN FRANCISCO
24      7A. AVENIDA 2-46 ZONA 1, BARRIO LA DEMOCRACIA
25      2A. CALLE C 8-61 ZONA 1, BARRIO LA DEMOCRACIA
26                                BARRIO LLANO GRANDE
27  CALLE TRNSITO ROJAS 7-60 ZONA 1, BARRIO LA DEM...
28    3RA.. AVENIDA 0-51 ZONA 1, BARRIO LA DEMOCRACIA
29  2A. CALLE C 8-61 ZONA 1 BARRIO LA DEMOCRACIA Y...
30  LOTES 6F, 7F, 159F Y 160F LOTIFICACI LOS EUCAL...
31  LOTES 6F, 7F, 159F Y 160F NOTIFICACI LOS EUCAL...
32                                BARRIO LLANO GRANDE
33  CALLE TRNSITO ROJAS 2-41 ZONA 1, BARRIO CHIPILAPA
34         2A. AV. A 0-84 ZONA 2 BARRIO SAN FRANCISCO
35              1A. AV. 0-45 ZONA 6, BARRIO CHIPILAPA
36                    CALLE TRNSITO ROJAS 0-73 ZONA 5
37  AVENIDA CHIPILAPA FINAL ZONA 1, BARRIO LA ESPE...
38            3A. CALLE 0-59 ZONA 6, BARRIO CHIPILAPA
39     2A. AVENIDA FINAL FRENTE AL COMPLEJO DEPORTIVO
40  CALZADA JUAN JOSBONILLA, 3-02 ZONA 2 BARRIO SA...
41  CALLE TRANSITO ROJAS 7-60, ZONA 1, BARRIO LA D...
42        1A. CALLE 6-61 ZONA 1, BARRIO LA DEMOCRACIA
43  CALLE TRANSITO ROJAS 0-36 ZONA 6, BARRIO CHIPI...
44          1A. AVENIDA 0-45 ZONA 6, BARRIO CHIPILAPA
45       3RA. CALLE 2-47 ZONA 3, BARRIO SAN FRANCISCO
46  LOTES 6F, 7F, 159F Y 160F, LOTIFICACILOS EUCAL...
47       2A. CALLE C 8-61 ZONA 1 BARRIO LA DEMOCRACIA
48                   CALLE TRNSITO ROJAS 0-73, ZONA 5
49                             1RA. CALLE 2-06 ZONA 1

In [34]:
# Clasificación de Establecimiento

distribucion_establecimientos = ['COLEGIO', 'ESCUELA', 'INSTITUTO', 'LICEO', 'CENTRO']

def clasificar_establecimiento(nombre):
	nombre = nombre.upper()  # Convertir a mayúsculas para evitar problemas de coincidencia de mayúsculas/minúsculas
	if "COLEGIO" in nombre:
		return "COLEGIO"
	elif "ESCUELA" in nombre:
		return "ESCUELA"
	elif "INSTITUTO" in nombre:
		return "INSTITUTO"
	elif "LICEO" in nombre:
		return "LICEO"
	elif "CENTRO" in nombre:
		return "CENTRO EDUCATIVO"
	else:
		return "OTRO"

# Aplicar la clasificación
data['CLASIFICACION_ESTABLECIMIENTO'] = data['ESTABLECIMIENTO'].apply(clasificar_establecimiento)
data.head()

,CODIGO,DISTRITO,DEPARTAMENTO,MUNICIPIO,ESTABLECIMIENTO,DIRECCION,TELEFONO,SUPERVISOR,DIRECTOR,NIVEL,SECTOR,AREA,STATUS,MODALIDAD,JORNADA,PLAN,DEPARTAMENTAL,CLASIFICACION_ESTABLECIMIENTO
0,21-01-0101-46,21-002,JALAPA,JALAPA,INSTITUTO NORMAL CENTROAMERICANO PARA SERITAS ...,"AVENIDA CHIPILAPA 1-65, ZONA 2",79224268,JORGE ADELINO PEREZ UCELO,IRIS JANNETTE AGUIRRE CONTRERAS,DIVERSIFICADO,OFICIAL,URBANA,ABIERTA,MONOLINGUE,VESPERTINA,DIARIO(REGULAR),JALAPA,INSTITUTO
1,21-01-0104-46,21-002,JALAPA,JALAPA,INSTITUTO NORMAL CENTROAMERICANO PARA VARONES,"CALLE TRANSITO ROJAS, 4-82, ZONA 2, BARRIO SAN...",40645842,JORGE ADELINO PEREZ UCELO,LISI KARINA ESCOBAR ESPINOZA,DIVERSIFICADO,OFICIAL,URBANA,ABIERTA,MONOLINGUE,MATUTINA,DIARIO(REGULAR),JALAPA,INSTITUTO
2,21-01-0106-46,21-004,JALAPA,JALAPA,COLEGIO PARTICULAR MIXTO LICEO JALAPA,CALLE TRANSITO ROJAS 7-60 ZONA 1,79220013,VICTOR MANUEL PORTILLO RECINOS,EFRA͎ DE JESړ SALAZAR PERALTA,DIVERSIFICADO,PRIVADO,URBANA,ABIERTA,MONOLINGUE,NOCTURNA,DIARIO(REGULAR),JALAPA,COLEGIO
3,21-01-0107-46,21-004,JALAPA,JALAPA,INSTITUTO PARTICULAR MIXTO MODERNO JALAPANECO,3A. CALLE 0-39 ZONA 2 BARRIO LA ESPERANZA,51228253,VICTOR MANUEL PORTILLO RECINOS,GERMAN DE JESUS RAMOS VALLE,DIVERSIFICADO,PRIVADO,URBANA,TEMPORAL TITULOS,MONOLINGUE,VESPERTINA,DIARIO(REGULAR),JALAPA,INSTITUTO
4,21-01-0108-46,21-004,JALAPA,JALAPA,INSTITUTO PRIVADO DE EDUCACION DIVERSIFICADA E...,"4A. AVENIDA 2-66, ZONA 2 BARRIO SAN FRANCISCO",0,VICTOR MANUEL PORTILLO RECINOS,ROSA CORALIA PINEDA GALLARDO,DIVERSIFICADO,PRIVADO,URBANA,ABIERTA,MONOLINGUE,VESPERTINA,DIARIO(REGULAR),JALAPA,INSTITUTO

In [35]:
# Guarda el dataframe combinado en un nuevo archivo CSV
data.to_csv('dataset_final.csv', index=False, encoding="utf-8")
df = pd.read_csv("dataset_final.csv")
df.head()

,CODIGO,DISTRITO,DEPARTAMENTO,MUNICIPIO,ESTABLECIMIENTO,DIRECCION,TELEFONO,SUPERVISOR,DIRECTOR,NIVEL,SECTOR,AREA,STATUS,MODALIDAD,JORNADA,PLAN,DEPARTAMENTAL,CLASIFICACION_ESTABLECIMIENTO
0,21-01-0101-46,21-002,JALAPA,JALAPA,INSTITUTO NORMAL CENTROAMERICANO PARA SERITAS ...,"AVENIDA CHIPILAPA 1-65, ZONA 2",79224268,JORGE ADELINO PEREZ UCELO,IRIS JANNETTE AGUIRRE CONTRERAS,DIVERSIFICADO,OFICIAL,URBANA,ABIERTA,MONOLINGUE,VESPERTINA,DIARIO(REGULAR),JALAPA,INSTITUTO
1,21-01-0104-46,21-002,JALAPA,JALAPA,INSTITUTO NORMAL CENTROAMERICANO PARA VARONES,"CALLE TRANSITO ROJAS, 4-82, ZONA 2, BARRIO SAN...",40645842,JORGE ADELINO PEREZ UCELO,LISI KARINA ESCOBAR ESPINOZA,DIVERSIFICADO,OFICIAL,URBANA,ABIERTA,MONOLINGUE,MATUTINA,DIARIO(REGULAR),JALAPA,INSTITUTO
2,21-01-0106-46,21-004,JALAPA,JALAPA,COLEGIO PARTICULAR MIXTO LICEO JALAPA,CALLE TRANSITO ROJAS 7-60 ZONA 1,79220013,VICTOR MANUEL PORTILLO RECINOS,EFRA͎ DE JESړ SALAZAR PERALTA,DIVERSIFICADO,PRIVADO,URBANA,ABIERTA,MONOLINGUE,NOCTURNA,DIARIO(REGULAR),JALAPA,COLEGIO
3,21-01-0107-46,21-004,JALAPA,JALAPA,INSTITUTO PARTICULAR MIXTO MODERNO JALAPANECO,3A. CALLE 0-39 ZONA 2 BARRIO LA ESPERANZA,51228253,VICTOR MANUEL PORTILLO RECINOS,GERMAN DE JESUS RAMOS VALLE,DIVERSIFICADO,PRIVADO,URBANA,TEMPORAL TITULOS,MONOLINGUE,VESPERTINA,DIARIO(REGULAR),JALAPA,INSTITUTO
4,21-01-0108-46,21-004,JALAPA,JALAPA,INSTITUTO PRIVADO DE EDUCACION DIVERSIFICADA E...,"4A. AVENIDA 2-66, ZONA 2 BARRIO SAN FRANCISCO",0,VICTOR MANUEL PORTILLO RECINOS,ROSA CORALIA PINEDA GALLARDO,DIVERSIFICADO,PRIVADO,URBANA,ABIERTA,MONOLINGUE,VESPERTINA,DIARIO(REGULAR),JALAPA,INSTITUTO

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7902 entries, 0 to 7901
Data columns (total 18 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   CODIGO                         7902 non-null   object
 1   DISTRITO                       7902 non-null   object
 2   DEPARTAMENTO                   7902 non-null   object
 3   MUNICIPIO                      7902 non-null   object
 4   ESTABLECIMIENTO                7902 non-null   object
 5   DIRECCION                      7902 non-null   object
 6   TELEFONO                       7902 non-null   int64
 7   SUPERVISOR                     7902 non-null   object
 8   DIRECTOR                       7902 non-null   object
 9   NIVEL                          7902 non-null   object
 10  SECTOR                         7902 non-null   object
 11  AREA                           7902 non-null   object
 12  STATUS                         7902 non-null   object
 13  MODALIDAD                      7902 non-null   object
 14  JORNADA                        7902 non-null   object
 15  PLAN                           7902 non-null   object
 16  DEPARTAMENTAL                  7902 non-null   object
 17  CLASIFICACION_ESTABLECIMIENTO  7902 non-null   object
dtypes: int64(1), object(17)
memory usage: 1.1+ MB